/.DS_Store
/v2realbot.egg-info

/__pycache__/
/v2realbot/__pycache__/
/.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
strat.log
v2realbot/__pycache__/
v2realbot/.DS_Store
v2realbot/static/.DS_Store
v2realbot/static/js/.DS_Store
v2realbot/static/js/libs/.DS_Store
v2realbot/strategyblocks/activetrade/.DS_Store
v2realbot/__pycache__/config.cpython-310.pyc
.gitignore
v2realbot/enums/__pycache__/enums.cpython-310.pyc
v2realbot/common/__pycache__/model.cpython-310.pyc
v2realbot/__pycache__/config.cpython-310.pyc
v2realbot/backtesting/__pycache__/backtester.cpython-310.pyc
v2realbot/common/__pycache__/model.cpython-310.pyc
v2realbot/enums/__pycache__/enums.cpython-310.pyc
v2realbot/indicators/__pycache__/indicators.cpython-310.pyc
v2realbot/loader/__pycache__/aggregator.cpython-310.pyc
v2realbot/loader/__pycache__/trade_offline_streamer.cpython-310.pyc
v2realbot/loader/__pycache__/trade_ws_streamer.cpython-310.pyc
v2realbot/strategy/__pycache__/base.cpython-310.pyc
