/* :root {
  --dt-row-selected: 18, 143, 175;
    --dt-row-selected: 140,142,141;
} */
:root {
  --dt-row-selected: 56,95,126;
  --dt-row-selected-text: 173,181,189;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #787b86;
  --bs-body-color-rgb: 173,181,189;
  --bs-body-bg: #2a2e39;
  --bs-body-bg-rgb: 33,37,41;
  --bs-emphasis-color: #adb5bd;
  --bs-emphasis-color-rgb: 255,255,255;
  --bs-secondary-color: rgba(173, 181, 189, 0.75);
  --bs-secondary-color-rgb: 173,181,189;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52,58,64;
  --bs-tertiary-color: rgba(173, 181, 189, 0.5);
  --bs-tertiary-color-rgb: 173,181,189;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43,48,53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110,168,254;
  --bs-link-hover-color-rgb: 139,185,254;
  --bs-code-color: #e685b5;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}

.form-label {
  margin-top: 0.5em;
  color: var(--bs-emphasis-color);
}
.form-check {
  display: block;
  min-height: 2.5rem;
  padding-left: 1.5em;
  margin-left: 0.25rem;
}

.h4, h4 {
    font-size: 1.4rem;
    color: var(--bs-emphasis-color);
    font-weight: 200;
}

tbody, td, tfoot, th, thead, tr {
  border-color: #7d7d8a;
  border-style: solid;
  border-width: 0;
  padding: 4px;
}

.tdnowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 68px;
  white-space: nowrap;
}

.tdmetrics {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 201px;
  white-space: nowrap;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
  text-align: left;
  color: #787b86;
}

table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting_asc_disabled, table.dataTable thead>tr>th.sorting_desc_disabled, table.dataTable thead>tr>td.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting_asc_disabled, table.dataTable thead>tr>td.sorting_desc_disabled {
  cursor: pointer;
  position: relative;
  padding-right: 10px;
  font-size: xx-small;
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
  position: absolute;
  display: block;
  opacity: 0.525;
  right: 4px;
  line-height: 9px;
  font-size: 0.8em;
}
table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after {
  opacity: 1;
}
.tdnote {
  width: 188px;
}

.tdname {
  width: 140px;
}

.form-row {
  display: table-cell;
}

.secondary-bg {
  --bs-bg-opacity: 1;
  background-color: #414749;
}

/* #128faf; */

.btn-outline-success {
  --bs-btn-color: #75a9ac;
  --bs-btn-border-color: #8b8b8b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3996a4;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #40929d;
  --bs-btn-active-border-color: #446379;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #4e7c85;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #839498;
  --bs-gradient: none;
}



/* .btn-outline-success {
  --bs-btn-color: #316164;
  --bs-btn-border-color: #247e85;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3996a4;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #40929d;
  --bs-btn-active-border-color: #446379;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #697d81;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #839498;
  --bs-gradient: none;
} */

.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-body-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

html {
  font-size: 12px;
}

.table>:not(caption)>*>* {
  padding: 0.32rem 0.32rem;
}

.flex-container {
    display: inline-grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
  }
  
  .flex-items{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-inline-start: 50px;
    padding-bottom: 10px;
  }

 .chartContainer {
    position: relative;
} 

.legend {
    position: absolute;
    color: #050505;
    left: 115px;
    top: 195px;
    z-index: 1;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.legendItemName {
  margin-left: 5px;
  display: flex;
}

.legendItemValue {
  margin-left: 5px;
  display: flex;
}

#msgContainer {
  display: inline-block;
  /* overflow: auto; */
  height: 596px;
  width: 32%;
}

.clearbutton {
  margin-left: 29px;
}

/* na male obrazovce je log pod grafem, zobrazujeme tedy prvni logy nahore */
@media (max-width : 1680px) {
  .msgContainerInner {
    display: flex;
    overflow: auto;
    height: 568px;
    flex-direction: column-reverse;
    margin-left: 28px;
    width: 100%;
  }
}

@media (min-width: 1681px) {}
 .msgContainerInner {
    display: flex;
    overflow: auto;
    height: 568px;
    flex-direction: column-reverse;
    margin-left: 28px;
    width: 100%;
}




pre {
  display: block;
  /* padding: 9.5px; */
  /* margin: 0 0 10px; */
  font-size: 10px;
  /* line-height: 2.428571; */
  /* color: #333; */
  word-break: break-all;
  word-wrap: break-word;
  /* background-color: #f5f5f5; */
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  overflow-x: clip;
  text-overflow: ellipsis;
}

.pidi {
  /* display: block; */
  font-size: smaller;
}

#trades-data {
  height: 40s0px;
  overflow: auto;
}

#statusHeader {
  margin-left: 0px;
  font-size: normal;
  /* font-weight: bold; */
  display: flex;
  /* background-color: #dfe4e6; */
  /* color: white; */
  padding: 1px;
  padding-left: 5px;
  width: max-content;
}

.statustd {
  width: 95px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
}

#statusHeaderTool {
  margin-left: 0px;
  font-size: normal;
  /* font-weight: bold; */
  display: flex;
  /* background-color: #dfe4e6; */
  /* color: white; */
  padding: 1px;
  padding-left: 5px;
  width: max-content;
  height: 95px;
}

.headerItem {
  padding-right: 30px;
}

.highlighted {
  color: var(--bs-emphasis-color);
  background-color: var(--bs-gray-900);
  /* color: var(--bs-dark-text-emphasis); */
}

.switcher {
	display: flex;
	align-items: center;
  margin-left: 54px;
  width: 323px;
	height: 30px;
	margin-top: 8px;
	color: #2196F3;
}

.switcher-item {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	padding: 6px 8px;
	font-size: 14px;
	color: #262b3e;
  background-color: #818581;
	margin-right: 8px;
	border: none;
	border-radius: 4px;
	outline: none;
}

.switcher-item:hover {
	background-color: #f2f3f521;
}

.switcher-active-item {
	text-decoration: none;
	cursor: default;
	color: #262b3e;
}

.switcher-active-item,
.switcher-active-item:hover {
	background-color: #e1eff9;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.intervalContainer {
  float: left;
  border-width: thick;
  border: beige;
  display: inline-table;
  padding: 10px;
}

/* TestList part generated by ChatGPT */
.recordItem {
  border: 1px solid #797979;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.recordDetails {
  margin-bottom: 10px;
}

/* .editButton,
#saveBtn,
#cancelBtn,
#addTagBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
}

.editButton:hover,
#saveBtn:hover,
#cancelBtn:hover,
#addTagBtn:hover {
  background-color: #45a049;
}

.editButton:active,
#saveBtn:active,
#cancelBtn:active,
#addTagBtn:active {
  background-color: #3e8e41;
} */

.recordItem:after {
  content: "";
  display: table;
  clear: both;
}

.recordItem .close {
  visibility: hidden;
  font-weight: bold;
  margin-left: 5px;
}

.recordItem:hover .close {
  visibility: visible;
}

.close {
  color: #888;
}

.tag {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
}

#recordName:disabled,
#addTagBtn:disabled,
#datepicker:disabled {
  background-color: #f2f2f2;
}
