.flex-container {
    display: inline-grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
  }
  
  .flex-items{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-inline-start: 50px;
    padding-bottom: 10px;
  }

 .chartContainer {
    position: relative;
} 

.legend {
    position: absolute;
    color: #050505;
    left: 115px;
    top: 99px;
    z-index: 1;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
}

#msgContainer {
  /* display: inline-block; */
  overflow: auto;
  height: 568px;
}

/* na male obrazovce je log pod grafem, zobrazujeme tedy prvni logy nahore */
@media (max-width : 1680px) {
  .msgContainerInner {
    display: flex;
    overflow: auto;
    height: 568px;
    flex-direction: column-reverse;
  }
}

@media (min-width : 1681px) {
  .msgContainerInner {
    display: flex;
    overflow: auto;
    height: 568px;
    flex-direction: column-reverse;
  }
}




pre {
  display: block;
  /* padding: 9.5px; */
  /* margin: 0 0 10px; */
  font-size: 10px;
  /* line-height: 2.428571; */
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  /* background-color: #f5f5f5; */
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

.pidi {
  /* display: block; */
  font-size: smaller;
}